.meal-item {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.meal-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.meal-quantity {
  justify-self: end;
}
.meal-action {
  justify-self: end;
}

.meal-price {
  color: rgb(167, 105, 36);
  font-weight: bold;
}

.meal-count {
  display: inline-block;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.meal-description {
  font-style: italic;
  align-self: center;
}

.btn {
  padding: 6px 32px;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  border: none;
  background-color: rgb(201, 72, 25);
  border-radius: 16px;
  color: white;
  cursor: pointer;
}